<!DOCTYPE html>
<html>
<head>
  <title>Notes, bitch</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container-narrow">

    <div class="masthead">
      <ul class="nav pull-right">
        <%= render "devise/shared/login_items" %>
      </ul>
      <h3 class="muted">Your App</h3>
    </div>

    <hr>

    <div class="row-fluid ">
      <%= yield %>
    </div>


    <div class="footer">
      <p>&copy; Company 2013</p>
    </div>

  </div> <!-- /container -->

</body>
</html>
